@import "vendor/normalize";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  padding: 14px;
  width: 100%;
}

/*-------------------------------------*/
/*--------------Variables-------------*/
/*-------------------------------------*/

$robotoCondensed-font-family: 'Roboto Condensed';

/*-------------------------------------*/
/*--makes something visually invisible-*/
/*--but accessible to screenreaders----*/
/*-------------------------------------*/

.visuallyHidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/*-------------------------------------*/
/*----------Header & navigation-------*/
/*-------------------------------------*/

header {
  height: 50px;
  margin-bottom: 25px;
  font-family: $robotoCondensed-font-family;

  nav {
    background-color: white;
    opacity: 90%;
    position: fixed;
    z-index: 4;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  h1 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .material-symbols-outlined {
    position: relative;
    top: 10px;
    font-size: 2rem;
  }

  .headerCountItems {
    position: absolute;
    top: -20px;
    right: 20px;
    border-radius: 50%;
    padding: 5px;
    font-size: 1rem;
    z-index: 5;
    font-weight: 600;
  }
}

.pink-background {
  background-color: pink;
}

/*-------------------------------------*/
/*---------------Info text------------*/
/*-------------------------------------*/

.informationText {
  text-align: center;
  font-family: $robotoCondensed-font-family;

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
  }
}

/*-------------------------------------*/
/*-------------Filter items-----------*/
/*-------------------------------------*/

.sortingSection {
  text-align: center;
}

/*-------------------------------------*/
/*-------------Product items----------*/
/*-------------------------------------*/

.donutsWrapper {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
  font-family: $robotoCondensed-font-family;

  article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  img {
    padding-top: 15px;
    width: 160px;
    height: 160px;

  }

  h3 {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 600;
  }

  .donutRating {
    margin-bottom: 10px;
  }

  .donutPrice,
  .countText,
  .amountValue {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .productsCount {
    padding: 10px;
  }

  .subtractBtn,
  .addBtn {
    background-color: black;
    color: white;
    width: 35px;
    height: 35px;
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px;

  }

  .addToCartBtn {
    height: 35px;
    width: 72px;
    background-color: black;
    color: white;
  }
}

/*-------------------------------------*/
/*-------------Shooping Cart----------*/
/*-------------------------------------*/

.shoppingCart {
  width: 90vw;
  max-width: 50rem;
  margin-inline: auto;
  margin-block-end: 4rem;
  padding-top: 60px;
  font-family: $robotoCondensed-font-family;

  h2 {
    font-weight: 600;
    font-style: italic;
  }
}

.checkoutHeader {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.5rem;
  margin-block-end: 1rem;
  border: 1px solid black;
  border-radius: 0.625rem;
  font-weight: 600;
  font-style: italic;
}

.shoppingCartItemsRow {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  align-items: center;
  font-family: $robotoCondensed-font-family;
  font-weight: 500;

  .shoppingCartProduct {
    text-align: left;
  }

  .cartProductPrice {
    text-align: left;
  }

  .shoppingCartItemsCount {
    text-align: right;
  }

  .cartProductCount {
    width: 2.5rem;
    margin-inline-end: 0.1rem;
    height: 1.55rem;
  }
}

.checkoutCartSum {
  text-align: right;
  margin-block-end: 2rem;
  font-family: $robotoCondensed-font-family;
  font-weight: 500;
}

.checkoutCartConfirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & button:first-child {
    // background-color: hsl(117, 35%, 50%, 1);
    background-color: green;
    color: hsla(0, 71%, 97%, 1);
  }
}

.btn {
  border: none;
  padding-inline: 3rem;
  padding-block: 1rem;
  border-radius: 0.625rem;
  cursor: pointer;
}

.btnRemoveItem {
  border: none;
  color: hsla(0, 71%, 97%, 1);
  background-color: hsla(359, 53%, 51%, 1);
  cursor: pointer;
  padding-inline: 0.4rem;
  padding-block: 0.3rem;
  font-size: 0.8rem;
}

.redFrame {
  background-color: rgb(230, 29, 29);
}

/*-------------------------------------*/
/*-------------Payment Form-----------*/
/*-------------------------------------*/

.checkoutContainer {
  min-height: 100vh;
  display: grid;
  place-content: center;
  margin: 5px;
  font-family: $robotoCondensed-font-family;

  h3 {
    margin-left: 20px;
    font-weight: 600;
    font-style: italic;
  }

  .checkoutForm {
    width: 80vw;
    max-width: 768px;
    border: 1px solid #ddd;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 20px;

    .paymentMethodLabel {
      border-bottom: none;
      width: 80px;
    }

    .hiddenPaymentCard,
    .hiddenPaymentInvoice {
      display: none;
    }

    .showPaymentCard,
    .showPaymentInvoice {
      display: flex;
    }

    label {
      margin-bottom: 15px;
      position: relative;
      border-bottom: 1px solid #ddd;

      input[type="text"],
      input[type="number"],
      input[type="email"] {
        width: 100%;
        padding: 10px 0px;
        margin-top: 20px;
        border: none;
        outline: none;
      }
    }
    .check__boxes {
      border-bottom: none;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.825rem;
      color: #6b6b6b;
    }
  }
}

.orderButton {
  padding: 15px 0px;
  margin-top: 20px;
  color: white;
  background: rgb(86, 171, 82);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.orderButton:disabled {
  background-color: grey;
}

.clearOrder {
  width: 150px;
  padding: 15px 0px;
  margin-left: 20px;
  color: white;
  background: rgb(196, 63, 65);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/*-------------------------------------*/
/*---------------Imports--------------*/
/*-------------------------------------*/

@import 'mobile-large';
@import 'tablet';
@import 'desktop';
@import 'desktop-large';
@import 'dark-theme';